  
  </div>


  
  <br><br><br><br>
  <hr>
  <p class="text-center">&COPY E-Palengke</p>
  

  <script src="/js/jquery-ui.min.js"></script>
  <!-- <script src="/js/ckeditor.js"></script>   -->
  <script src="//cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>

  <script src="/js/popper.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/index.js"></script>
</body>
</html>