<% include ./partials/header %>

<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 col-12">
      <div class="my__account__wrapper">
        <h3 class="account__title">Change password</h3>
        <form action="/users/forgot-password" method="POST">
          <div class="account__form">
            <div class="input__box">
              <label>Email<span>*</span></label>
              <input name="email" type="email">
            </div>
            <div class="form__btn">
              <button type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>

<% include ./partials/footer %>




